<section class="intro">
  <div>
    <%= image_tag("https://drive.google.com/uc?id=14N9_ypo-Zc4K5XO1auMvEz1Rg5IQ-Aby", height: "150", alt: "arrow image", id: "scam_shift")%>
    <p class="site_title"><span id="scam_fade", class="site_title">sc</span><span class="site_title">amazon</span></p>
    <%= button_to "Browse Products", products_path, method: :get, class: "btn btn-light btn-lg" %>  
  </div>
</section>