<section class="intro">
  <div>
    <%= image_tag("https://drive.google.com/uc?id=1txdqfm7yRgh3UWhhmhiDOooSvfONRDIj", height: "100", alt: "arrow image")%>
    <p class="site_title"><span id="scam_fade", class="site_title">sc</span><span class="site_title">amazon</span></p>
    <%= button_to "Browse Products", products_path, method: :get, class: "btn btn-light btn-lg" %>  
  </div>
</section>