<h1>Users#account_orders</h1>
<p>Find me in app/views/users/account_orders.html.erb</p>

<p><i>~this page will show a list of orders associated with a logged in merchant, if we want this to be its own page~</i></p>
