<h1>Users#myorders</h1>
<p>Find me in app/views/users/myorders.html.erb</p>

<p><i>~this page will show a list of orders associated with a logged in merchant, if we want this to be its own page~</i></p>
