<h1>Orders#cust_info</h1>
<p>Find me in app/views/orders/cust_info.html.erb</p>

<p><i>~this page will show when someone clicks check out and will allow the user to input their billing/shipping info~</i></p>
