<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<p><i>~this page will show the cart~</i></p>

<h2>Cart</h2>
<p>this will show a table of all orderitems with order_id of @order.id</p>

