/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

nav li {
  list-style-type: none;
}

main li {
  list-style-type: none;
}

.intro {
  text-align: center;
  padding-top: 200px;
}

main {
  padding: 50px;
}

main a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

product-index a:hover {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

h2 {
  text-align: center;
}

header a {
  color: gray;
}

header a:hover {
  color: black;
}

a.site-title:hover {
  text-shadow: -4px 4px lightgrey;
  color: black;
}

.product-index {
  display: flex;
  flex-wrap: wrap;
  // // align-content: center;
  // justify-content: center;
  // align-items: center;
  // justify-items: center;
  // flex-direction: column;
  justify-content: space-around;
}

.product-item {
  display: block;
  width: 400px;
  // min-height: 400px;
  margin: 20px;
  padding: 20px;
  // border: .5px solid grey;
}

.product-item > *{
  text-align: center;
  padding: 5px;
}

.product-item img {
}

.product-item:hover {
  background-color: lightgrey;
}

.product-description {
  font-style: italic;
  color: grey;
}

.product-name {
  margin: 0px;
}

.product-rating {
  color: white;
}

p {
  margin: 0px;
}

.emphasize {
  font-weight: bold;
}

.product-none {
  text-align: center;
  font-style: italic;
  margin: 50px;
  color: grey;
}