<h1>All Products</h1>

<span>
    <% @products.each do |product| %>
        <img src= <%= product.photo_url %> >
        <ul>
            <li><%= link_to product.name, product_path(product.id) %></li>
            <% if false %>
            currently commented out.  need help with pathway to user/product_id
            <li><%= link_to product.user_id, user_path(user.id) %></li> %>
            <% end %>
            <li><%= link_to product.description, product_path(product.id) %></li>
        </ul>
    <% end %>
</span>
