<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<p><i>~this page will show information about an individual product, linked from the products list or the user or category show page~</i></p>
